[*]

dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1601.severity = none
dotnet_diagnostic.SA1602.severity = none
dotnet_diagnostic.CS1591.severity = none
dotnet_diagnostic.SA1313.severity = none
dotnet_diagnostic.IL2070.severity = none
dotnet_diagnostic.IL2026.severity = none
dotnet_diagnostic.IL2075.severity = none
dotnet_diagnostic.IL2067.severity = none
dotnet_diagnostic.IL2072.severity = none

